.chart{
    -fx-background-color: transparent;
    -fx-padding: 0px;
}
.chart-content{
    -fx-padding: 0px;
}
.chart-plot-background {
     -fx-background-color: black;
 }
.axis {
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-minor-tick-length: 0;
    -fx-background-color: blue;
    -fx-pref-height: 0px;
    -fx-pref-width: 0px;
}
.axis-label {
    -fx-text-fill: transparent;
}
/* .default-color0.chart-bar {

}
.default-color1.chart-bar {

} */

.list-view .scroll-bar:vertical {
    -fx-padding: 0;
    -fx-scale-x: 0;
    -fx-pref-width: 0px;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:horizontal > .thumb {
    -fx-background-color: transparent;
    -fx-border-radius: 50%;
}

.list-view .scroll-bar:horizontal > .thumb:hover {
    -fx-background-color: rgba(100, 100, 100, 0.8);;
}


.list-cell {
    -fx-alignment: center;
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}

 .scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: rgba(100, 100, 100, 0.8);
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    /* -fx-background-color: rgb(150.0, 150.0, 150.0); */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-height: 0px;
    /* -fx-shape: "M298 426h428l-214 214z"; */
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    /* -fx-shape: "M298 598l214-214 214 214h-428z"; */
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-height: 0px;
}

/* Right Arrow */    
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    /* -fx-shape: "M0 428l0 -428l214 214l-214 214z"; */
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-height: 2px;
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    /* -fx-shape: "M214 0l0 428l-214 -214l214 -214z"; */
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-height: 3px;
}